
 *{
    margin: 0;
    box-sizing: border-box;
}
header{
    background-image: linear-gradient( black,rgb(120, 0, 194), rgb(0, 19, 82));
    width: 100vw;
    height: 15vh;
}
nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; /*Já está configurado assim por padrão*/
    align-items: center;
    height: 100%;
    justify-content: center;
    column-gap: 20px;
}
button{
    width: 200px;
    height: 60px;
    margin: 0px;
    border: 7px solid rgb(47, 130, 255);
    border-radius: 15px;
    background-image: linear-gradient(rgb(71, 71, 71), gray);
    color: white;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button:hover{
    cursor: pointer;
    border-radius: 30px;
    border: 7px solid cyan;
    box-shadow: 0 0 40px cyan;
    background-image: linear-gradient(rgb(158, 158, 158), rgb(223, 223, 223));
}
main{
    display: flex;
    width: 100vw;
    height: auto;
    background-image: linear-gradient(rgb(240, 229, 214),rgb(240, 229, 214),rgb(240, 229, 214),rgb(161, 144, 117));
    justify-content: center;
    align-items: center;
    /* gap: 1.5%; */
}
section{
    display: flex;
    flex-direction: column;
    width: 33%;
    height: auto;
    background-image: linear-gradient(rgb(187, 204, 219),aliceblue,aliceblue, aliceblue, aliceblue);
    margin: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
img{
    width: 100px;
    margin: 10px;
    border-radius: 13px;
}
p{
    text-align: left;
    font-size: 25px;
    margin: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
footer{
    display: flex;
    width: 100vw;
    height: 10vh;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(48, 48, 48));
    align-items: center;
    justify-content: center;
    padding: 3.5%;
}
.rodape{
    color:antiquewhite;
}
/*Tela de tablet*/
@media(min-width: 679px) and (max-width: 1023px)
{
    header{
        background-image: linear-gradient(black, rgb(172, 0, 72), rgb(59, 0, 0));
        height: auto;
    }
    nav{
        column-gap: 200px;
        row-gap: 0;
    }
    main{
        height: auto;
        flex-direction: column;
    }
    section{
        width: 99%;
        margin: 7px;
    }
    img{
        width: 80px;
        margin: 7px;
    }
    button{
        margin: 15px;
        border-color: rgb(216, 0, 83);
    }
    button:hover{
        border-color: magenta;
        box-shadow: 0 0 40px magenta;
    }
}
/*Tela de celular*/
@media(max-width: 678px){
    header{
        background-image: linear-gradient(black, rgb(0, 70, 6), rgb(29, 6, 0));
        height: 40vh; 
    }
    nav{
        flex-direction: column;
        column-gap: 15px;
        row-gap: 20px;
    }
    main{
        flex-direction: column;
        height: auto
    }
    section{
        width: 99%;
        margin: 8px;
    }
    img{
        width: 70px;
        margin: 5px;
    }
    button{
        border-color: rgb(115, 255, 0);
    }
    button:hover{
        border-color: rgb(115, 255, 0);
        box-shadow: 0 0 40px rgb(115, 255, 0);
    }

}



